@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('./reset.css');
@import url('./userCard.css');
@import url('./form.css');
@import url('./loader.css');
@import url('./errorPlug.css');


*{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background: linear-gradient(rgba(238, 130, 238, 0.562), rgba(137, 43, 226, 0.596));
}

#root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.btn{
    width: 100px;
    padding: 10px 0;
  
    font-weight: 200;
    font-size: 15px;
    text-transform: uppercase;

    border: none;
    border-radius: 10px;
    color: white;
}

.btn:hover{
    cursor: pointer;
}

.btn:active{
    font-weight: 400;
}




